/* GENERAL */

body {
background-color: black;
font-family:'helvetica';
font-size: 16px;
color: white;
text-align: center;
line-height: 27px;
}

h1 {
  font-family:'clarendon-urw';
  font-weight: bold;
  font-size: 30px;
}

/* HOME PAGE */

/* general */

/* text */

h1.homepage {
font-size: 50px;
color: white;
text-align: center;
padding-top: 70px;
}


/* menu */

img.homepageimg {
  height: 410px;
  /* width: 270px; */
}

div.scrollmenu {
    background-color: black;
    font-size: 16px;
    overflow-x: visible;
    width: 100%;
    height: 500px;
    display: flex;
    position: absolute;
    animation: move 11s linear infinite;
    padding: 70px;
}

div.scrollmenu a {
    display: inline-grid;
    color: white;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}

div.scrollmenu a:hover {
  color: yellow;
}

@keyframes move {
  from {
    left: 0%;
    width: 100%;
  }
  to {
    left: -100%;
    width: 100%;
}
}

/* POST PAGES */

h1.post {
  padding-top: 35px;
  padding-bottom: 0px;
}

div.poster-list {
  display:inline-flex;
  height: 307.5px;
}


/* .poster-list.is-active .poster {
	opacity: 0;
}

.poster-list.is-active .poster.is-active {
	opacity: 1;
} */

.poster-list.is-active .poster-wrapper {
	opacity: 0;
}

.poster-list.is-active .poster-wrapper.is-active {
	opacity: 1;
}

.poster-list.is-active .poster-wrapper.is-active .info {
	opacity: 1;
}


.poster {
height: 100%;
  /* height: 307.5px; */
	/* width: 202.5px; */
	align-content: center;
  padding: 5px;
}

.highlight:hover {
	color: yellow;
}

.description.is-active {
	color: transparent;
}

.description.is-active .highlight:hover {
  opacity: 1;
}

.highlight {
	color: white;
  font-size: 26px;
  font-weight: bold;
}
 p {
   max-width: 47em;
   margin: auto;
   text-align: left;
 }

 p.description {
   padding: 40px;
 }

 .back {
   padding: 40px;
   padding-top: 100px;
   text-decoration: none;
   color: inherit;
 }

 .back:hover{
   color: yellow;
 }

 a.weblink {
   color: white;
   border-bottom: 2px solid;
   text-decoration: none;
 }

 a.weblink:hover {
   color: yellow;
 }

 .info {
   font-weight: bold;
   font-size: 14px;
 }

@media (max-width: 615px) {

  h1.homepage {
  font-size: 40px;
  line-height: 60px;
}

h1.description {
  font-size: 50px;
  line-height: normal;
}

  div.scrollmenu {
      background-color: black;
      font-size: 20px;
      overflow: visible;
      /* width: 100%; */
      height: 175px;
      display: flex;
      position: absolute;
      animation: move 0s linear infinite;
  }

   p.description {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  display: inline-block;
  }
div.poster-list{
  height: 100px;
display: inline-block;
}


div.back {
  padding-top: 30px;
}

body {
  align-content: center;
}

img.poster {
  height: 300px;
}

}
@media (max-width: 500px) {

  h1.homepage {
  font-size: 30px;
  color: white;
  }

  h1.description {
    font-size: 50px;
    line-height: 60px;
  }
  p {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    display: inline-block;
  }

body {
  align-content: center;
}

  div.poster-list {
    height: 100px;
display: inline-block;
  }

  img.poster {
    height: 350px;
  }
}
